{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: black;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">My</span><span style="color:white">Blog</span>
      </a>
    </div>
    <span style="color:white">
      <a href="admin">admin</a> | <a href="calc">calc</a>
    </span>
  </nav>
</header>