{% extends 'base.html' %}
{% block title %}
Калькулятор
{% endblock %}
{% block content %}
{{ text }}
<hr>
<a href="{% url 'calc:add' %}">Добавить</a>
{{ posts.ammount }}
<hr>
<p>Лимит: {{ limit }}</p>
<p>Статистика за сегодня: {{ today_stat }}</p>
<p>Статистика за неделю: {{ week_stat }}</p>
<p>Сообшение: {{ massege_money }}</p>
<p>Сообшение: {{ massege_calories }}</p>

{% for post in posts %}
    <hr>
    <p>Отчет на: {{ post.published }}</p>
  <ul>
    <li>
      Значение: {{ post.ammount }}
    </li>
    <li>
      Комментарий: {{ post.comment }}
    </li>
    <li>
      Дата: {{ post.published }}
    </li>
  </ul>
{% endfor %}
{% endblock %}